<template>
  <div id="app">
    <root-header></root-header>

    <md-layout md-gutter>
      <md-layout md-flex="100" md-align="center">
        <img src="../assets/logo.png">
      </md-layout>
    </md-layout>

    <md-layout md-gutter>
      <router-view></router-view>
    </md-layout>
  </div>
</template>

<script>
import RootHeader from 'components/root/Header.vue'

export default {
  name: 'App',
  components: {
    RootHeader
  }
}
</script>


<style lang="css" src="assets/css/style.css"></style>
