<template lang="html">
  <md-toolbar>
    <h1 class="md-title">{{ title }}</h1>

    <md-button href="/#/dashboard">Dashboard</md-button>
    <md-button href="/#/hello/VueJS!">Welcome</md-button>
  </md-toolbar>
</template>

<script>
  export default {
    name: 'root-header',
    data () {
      return {
        title: 'Home'
      }
    }
  }
</script>
