<template>
  <md-layout md-flex="100" md-align="center">
    <h1>{{ msg }} {{ $route.params.name }}!</h1>
  </md-layout>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Hello'
    }
  }
}
</script>
